
.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/news_collector.iml

.idea/vcs.xml

.idea/workspace.xml

NewsCollector/.idea/modules.xml

NewsCollector/.idea/modules.xml
